force-app/main/default/flows/Einstein_Vision_Training_Flow-6.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Classify_Image</name>
        <choiceText>Classify Image</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Classify Image</stringValue>
        </value>
    </choices>
    <choices>
        <name>Create_Dataset</name>
        <choiceText>Create Dataset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create_Dataset</stringValue>
        </value>
    </choices>
    <choices>
        <name>Train_Dataset</name>
        <choiceText>Train Dataset</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Train_Dataset</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Direct_Choice</name>
        <label>Direct Choice</label>
        <locationX>404</locationX>
        <locationY>209</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Create_Dataset_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_Dataset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateDataSet_Screen</targetReference>
            </connector>
            <label>Create Dataset</label>
        </rules>
        <rules>
            <name>Train_Dataset_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Train_Dataset</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TrainDataset_Screen</targetReference>
            </connector>
            <label>Train Dataset</label>
        </rules>
        <rules>
            <name>Classify_Image_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>What_would_you_like_to_do</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Classify_Image</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Classify_Image_Screen</targetReference>
            </connector>
            <label>Classify Image</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsComplete</name>
        <label>IsComplete</label>
        <locationX>85</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsComplete_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>IsComplete_Error</label>
        </rules>
        <rules>
            <name>IsComplete_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_Choice</targetReference>
            </connector>
            <label>IsComplete_Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsComplete_Train</name>
        <label>IsComplete_Train</label>
        <locationX>925</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsComplete_Train_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>IsComplete_Train_Error</label>
        </rules>
        <rules>
            <name>IsComplete_Train_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TrainComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_Choice</targetReference>
            </connector>
            <label>IsComplete_Train_Success</label>
        </rules>
    </decisions>
    <interviewLabel>Einstein Vision Training Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Einstein Vision Training Flow</label>
    <processType>Flow</processType>
    <screens>
        <name>Classify_Image_Screen</name>
        <label>Classify Image</label>
        <locationX>682</locationX>
        <locationY>295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Classify_Image_Component</name>
            <extensionName>c:Upload_Image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CreateDataSet_Screen</name>
        <label>CreateDataSet</label>
        <locationX>308</locationX>
        <locationY>343</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsComplete</targetReference>
        </connector>
        <fields>
            <name>CreateDataSet</name>
            <extensionName>c:CreateDataSet</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CreateComplete</assignToReference>
                <name>isComplete</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>444</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Label</name>
            <fieldText>Error! Process not yet completed!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EV_Choice</name>
        <label>EV Choice</label>
        <locationX>399</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Direct_Choice</targetReference>
        </connector>
        <fields>
            <name>What_would_you_like_to_do</name>
            <choiceReferences>Create_Dataset</choiceReferences>
            <choiceReferences>Train_Dataset</choiceReferences>
            <choiceReferences>Classify_Image</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What would you like to do?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TrainDataset_Screen</name>
        <label>TrainDataset</label>
        <locationX>480</locationX>
        <locationY>347</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IsComplete_Train</targetReference>
        </connector>
        <fields>
            <name>TrainDataset</name>
            <extensionName>c:TrainDataSet</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TrainComplete</assignToReference>
                <name>isComplete</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>EV_Choice</startElementReference>
    <variables>
        <name>Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TrainComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
